*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(228, 220, 149);
}

header{
    height: 100%;
    padding: 18px;
    background-color: rgb(221, 234, 169);
}
.logo{
    width: 200px;
}

nav li{
    font-family: 'Oswald', sans-serif;
}
li a{
    text-decoration: none;
    margin: 15px;
    font-size: 25px;
}

.seccionprincipal{
    background-color: rgb(217, 193, 119);
    padding: 10px;
}
article{
    position: relative;
}
.tituloseccion{
    font-size: 40px;
    color: black;
}

h1{
    font-family: 'Alkatra', cursive;
    text-align: center;
}
#carouselExampleFade{
    width: 85%;
    height: 85%;
    left: 7%;
}

.articulosomos{
    height: 100%;
}
.titulosomos{
    position: absolute;
    left: 100px;
    font-size: 40px;
}
.historia{
    position: absolute;
    left: 100px;
    top: 150px;
    width: 500px;
    text-align: center;
}
.fotopareja1{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 15px 15px 25px gray;
}
.fotopareja2{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 15px 15px 25px gray;
}
.fotopareja3{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 15px 15px 25px gray;
}
.botonsomos{
    width: 150px;
    height: 60px;
    border-radius: 15px;
    background-color: rgb(201, 232, 181);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.articuloeventos{
    height: 100%;
}
.tituloeventos{
    font-size: 40px;
    text-align: center;
    padding: 20px;
}
.textoeventos{
    text-align: center;
    font-size: 25px;
    padding: 10px;
}
.deco{
    border-radius: 100px;
    box-shadow: 0px 15px 25px gray;
}

.articuloservicios{
    height: 100%;
}
.tituloservicios{
    font-size: 40px;
    text-align: center;
}

.decogeneral{
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(176, 89, 48);
}
.textodecogeneral{
    font-size: 20px;
}
.candy{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(176, 89, 48);
}
.textocandy{
    font-size: 20px;
}
.agregado{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(176, 89, 48);
}
.textoagregado{
    font-size: 20px;  
}

.mapacontacto{
    position: absolute;
    right: 30px;
    top: 200px;
}

footer{
    height: 100%;
    background-color: rgb(176, 89, 48);
    position: relative;
}
h2{
    font-family: 'Oswald', sans-serif;
}
.facebookicon{
    width: 30px;
    margin: 5px;
}
.instagramicon{
    width: 30px;
    margin: 5px;
}
.twittericon{
    width: 30px;
    margin: 5px;
}
.whatsappicon{
    width: 30px;
    margin: 5px;
}
.messengericon{
    width: 30px;
    margin: 5px;
}
.mapafooter{
    width: 240px;
    height: 90px;
}
@media screen and (max-width: 768px) {
    .tituloseccion{
        font-size: 30px;
    }
    .titulofooter{
        font-size: 25px;
    }
}
@media screen and (max-width: 480px) {
    .tituloseccion{
        font-size: 20px;
    }
    .titulofooter{
        font-size: 20px;
    }
}