*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(228, 220, 149);
}

header{
    height: 100px;
    padding: 18px;
    background-color: rgb(221, 234, 169);
}
.logo{
    width: 200px;
}
.logo1{
    margin-right: 300px;
}
nav li{
    display: inline;
    font-family: 'Oswald', sans-serif;
}
li a{
    text-decoration: none;
    margin: 15px;
    font-size: 25px;
    border-color: black;
    border: 5px;
}

section{
    margin: 20px;
}
article{
    position: relative;
}
.tituloindex{
    position: absolute;
    top: 30px;
    left: 285px;
    font-size: 40px;
    color: rgb(228, 220, 149);
}
h1{
    font-family: 'Alkatra', cursive;
}
.imagenindex{
    width: 800px;
    margin-left: 19%;
    margin-right: 20%;
    border-radius: 20px;
    box-shadow: 0px 15px 25px gray;
}
.flecha1index{
    position: absolute;
    top: 210px;
    left: 100px;
}
.flecha2index{
    position: absolute;
    top: 210px;
    right: 100px;
}
.botonindex{
    position: absolute;
    left: 580px;
    bottom: 20px;
    width: 150px;
    height: 60px;
    border-radius: 15px;
    background-color: rgb(201, 232, 181);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.articulosomos{
    height: 450px;
}
.titulosomos{
    position: absolute;
    left: 100px;
    font-size: 40px;
}
.historia{
    position: absolute;
    left: 100px;
    top: 150px;
    width: 500px;
    text-align: center;
}
.fotopareja1{
    width: 200px;
    height: 200px;
    position: absolute;
    right: 300px;
    top: 2px;
    border-radius: 10px;
    box-shadow: 15px 15px 25px gray;
}
.fotopareja2{
    width: 200px;
    height: 200px;
    position: absolute;
    right: 150px;
    top: 100px;
    border-radius: 10px;
    box-shadow: 15px 15px 25px gray;
}
.fotopareja3{
    width: 200px;
    height: 200px;
    position: absolute;
    right: 250px;
    top: 250px;
    border-radius: 10px;
    box-shadow: 15px 15px 25px gray;
}
.botonsomos{
    position: absolute;
    left: 300px;
    bottom: 100px;
    width: 150px;
    height: 60px;
    border-radius: 15px;
    background-color: rgb(201, 232, 181);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.articuloeventos{
    height: 450px;
}
.tituloeventos{
    position: absolute;
    left: 500px;
    font-size: 40px;
}
.textoeventos{
    position: absolute;
    left: 300px;
    bottom: 50px;
    font-size: 25px;
}
.deco1{
    width: 250px;
    height: 250px;
    position: absolute;
    left: 10px;
    top: 60px;
    border-radius: 10px;
    box-shadow: 0px 15px 25px gray;
}
.deco2{
    width: 250px;
    height: 250px;
    position: absolute;
    left: 270px;
    top: 60px;
    border-radius: 10px;
    box-shadow: 0px 15px 25px gray;
}
.deco3{
    width: 250px;
    height: 250px;
    position: absolute;
    left: 530px;
    top: 60px;
    border-radius: 10px;
    box-shadow: 0px 15px 25px gray;
}
.deco4{
    width: 250px;
    height: 250px;
    position: absolute;
    left: 790px;
    top: 60px;
    border-radius: 10px;
    box-shadow: 0px 15px 25px gray;
}
.deco5{
    width: 250px;
    height: 250px;
    position: absolute;
    left: 1050px;
    top: 60px;
    border-radius: 10px;
    box-shadow: 0px 15px 25px gray;
}

.articuloservicios{
    height: 450px;
}
.tituloservicios{
    position: absolute;
    left: 500px;
    font-size: 40px;
}
.general{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 70px;
    left: 150px;
    border-style: solid;
    border-color: rgb(176, 89, 48);
}
.textogeneral{
    position: absolute;
    top: 290px;
    left: 40px;
    font-size: 20px;
}
.candy{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 70px;
    left: 550px;
    border-style: solid;
    border-color: rgb(176, 89, 48);
}
.textocandy{
    position: absolute;
    top: 290px;
    left: 530px;
    font-size: 20px;
}
.agregado{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 70px;
    right: 150px;
    border-style: solid;
    border-color: rgb(176, 89, 48);
}
.textoagregado{
    position: absolute;
    top: 290px;
    right: 110px;
    font-size: 20px;  
}
.mapacontacto{
    position: absolute;
    right: 30px;
    top: 200px;
}

footer{
    height: 200px;
    background-color: rgb(176, 89, 48);
    position: relative;
}
h2{
    font-family: 'Oswald', sans-serif;
}
.facebookicon{
    width: 30px;
    margin: 5px;
}
.instagramicon{
    width: 30px;
    margin: 5px;
}
.twittericon{
    width: 30px;
    margin: 5px;
}
.whatsappicon{
    width: 30px;
    margin: 5px;
}
.messengericon{
    width: 30px;
    margin: 5px;
}
.contacto{
    position: absolute;
    left: 550px;
    top: 0;
}
.ubicanos{
    position: absolute;
    top: 0;
    right: 1px;
}
.mapafooter{
    width: 300px;
    height: 150px;
}