
footer{
    height: 100%;
    background-color: $coloroscuro;
    position: relative;
}
h2{
    font-family: 'Oswald', sans-serif;
}
.facebookicon{
    width: 30px;
    margin: 5px;
}
.instagramicon{
    width: 30px;
    margin: 5px;
}
.twittericon{
    width: 30px;
    margin: 5px;
}
.whatsappicon{
    width: 30px;
    margin: 5px;
}
.messengericon{
    width: 30px;
    margin: 5px;
}
.mapafooter{
    width: 240px;
    height: 90px;
}