@media screen and (max-width: 768px) {
    .tituloseccion{
        font-size: 30px;
    }
    .titulofooter{
        font-size: 25px;
    }
}
@media screen and (max-width: 480px) {
    .tituloseccion{
        font-size: 20px;
    }
    .titulofooter{
        font-size: 20px;
    }
}