header{
    height: 100%;
    padding: 18px;
    background-color: rgb(221, 234, 169);
}
.logo{
    width: 200px;
}

nav{ 
    li{
    font-family: 'Oswald', sans-serif;
    }
}
li{
    a{
    text-decoration: none;
    margin: 15px;
    font-size: 25px;
    }
}