.articulosomos{
    height: 100%;
}
.titulosomos{
    font-size: 40px;
}
.historia{
    width: 500px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.fotocentrada{
    text-align: center;
}
.fotopareja{
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 15px 15px 25px gray;
}
.botonsomos{
    width: 150px;
    height: 50px;
    border-radius: 15px;
    background-color: rgb(201, 232, 181);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
