
.articuloservicios{
    height: 100%;
}
.tituloservicios{
    font-size: 40px;
    text-align: center;
}

.decogeneral{
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(176, 89, 48);
}
.textodecogeneral{
    font-size: 20px;
}
.candy{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(176, 89, 48);
}
.textocandy{
    font-size: 20px;
}
.agregado{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(176, 89, 48);
}
.textoagregado{
    font-size: 20px;  
}
